/* Style Reset */

@font-face {
    font-family: "Lato Light";
    src: url('https://download.pingcap.com/fonts/lato/lato-light-webfont.eot'), url('https://download.pingcap.com/fonts/lato/lato-light-webfont.ttf'), url('https://download.pingcap.com/fonts/lato/lato-light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url('https://download.pingcap.com/fonts/lato/lato-regular-webfont.eot'), url('https://download.pingcap.com/fonts/lato/lato-regular-webfont.ttf'), url('https://download.pingcap.com/fonts/lato/lato-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb Light";
    src: url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-light-webfont.eot'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-light-webfont.ttf'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb LightItalic";
    src: url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-lightitalic-webfont.eot'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-lightitalic-webfont.ttf'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-lightitalic-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-regular-webfont.eot'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-regular-webfont.ttf'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb SemiBold";
    src: url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-semibold-webfont.eot'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-semibold-webfont.ttf'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-semibold-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb SemiBoldItalic";
    src: url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-semibolditalic-webfont.eot'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-semibolditalic-webfont.ttf'), url('https://download.pingcap.com/fonts/titilliumweb/titilliumweb-semibolditalic-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: "TitilliumWeb";
  font-weight: normal;
  line-height: 1.4;
  color: #142848;
  text-rendering: optimizeLegibility;
}


/*
 * Sidebar
 */

.sidebar {
    padding: 2rem 1rem;
    /*border-right: 2px solid #000;*/
    /*color: #333;*/
    /*background-color: #113285;*/
    background: #142848;
}

@media (min-width: 48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20rem;
        text-align: left;
    }
}

.sidebar-about {
    margin-bottom: 2.5rem;
}

.sidebar-about h1 {
    margin-bottom: 1rem;
    font-family: "TitilliumWeb SemiBold";
    font-size: 3.2rem;
    letter-spacing: 2px;
}

.sidebar-about a {
	/*color: #222;*/
	text-decoration: none;
}

.sidebar-about .lead {
	font-size: .8rem;
	/*color: #333;*/
	font-family: "Lato Light";
}

.sidebar-nav {
	margin-bottom: 2.5rem;
}

.sidebar-nav a {
	font-size: .8rem;
	/*color: #3A59F0;*/
}

.sidebar .copyright {
	font-family: "TitilliumWeb LightItalic";
	font-size: .8rem;
}


/* 
 * Content
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 42rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
  	max-width: 60rem;
    margin-left: 22rem;
    margin-right: 2rem;
  }
}

.content a {
	text-decoration: none;
	color: #3a59f0;
}

.content .posts {
  margin-bottom: 4.5rem;
}

.content .post {
	position: relative;
	margin-bottom: 2.5em;
	padding-bottom: 2em;
	border-bottom: 1px dotted #CDCDCD;
	font-family: "Lato Light";
}

.content .post:after {
	content: ' ';
	position: absolute;
	bottom: -1px;
	left: 0;
	display: block;
	width: 100%;
	border-bottom: 3px solid #3A59F0;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	        transform-origin: left center;
	        -webkit-transition: transform .3s;
	           -moz-transition: transform .3s;
	            -ms-transition: transform .3s;
	             -o-transition: transform .3s;
	                transition: transform .3s;
}

.content .post:hover:after {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

.content .post-divider {
	width: 100%;
	border-top: 1px solid #CDCDCD;
	margin: 25px 0 20px;
}

.content .post h1 {
    margin-bottom: 1.4rem;
    font-size: 1.5rem;
    line-height: 1.2;
}

.content .post h2 {
    font-size: 1.3rem;
}

.content .post h1.post-title,
.content .post h1.post-title a {
	font-size: 2rem;
	color: #3A59F0;
}

.content .post-date {
	font-size: .8rem;
	color: #6A737D;
	font-family: "Lato Light";
}

.content .post p {
	margin-bottom: .8rem;
	font-family: "Lato Light";
	font-size: 1rem;
	line-height: 1.2;
	color: #142848;
}


/*
 * Pagination
 */

.pagination {
  max-width: 12rem;
  margin: 0 auto;
  line-height: 1.2;
}

.pagination .pagination-item {
  padding: .5rem;
}